
	<div class="logo" >
		<h1>LUXURY WATCHES</h1>
	</div>
	<div class="line"></div>

<!-- header -->
	<div class="link-header">
				<div class="col-md-9">
					<div class="link-group">

						<ul><%=link_to('Home', "#") %></ul>
						<ul><%=link_to('Men', "#") %></ul>
						<ul><%=link_to('Women', "#") %></ul>
						<ul><%=link_to('Kid', "#") %></ul>
					</div>
				</div>

				<div class="col-md-3">
					<div>
	  					<div class="search">
		  						<form action="/products/search" accept-charset="UTF-8" method="get">
		  							<input name="utf8" type="hidden" value="✓">
		    						<input class="search-input" type="text" name="query_string" value="" placeholder="Search">
		    						<button type="submit" class="search-button pa tc"><i class="fa fa-search"></i></button>
									</form>
							</div>
					</div>
				</div>
	</div>

	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
					<%= image_tag('bnr-1.jpg',class:'first-slide')%>

        </div>
        <div class="item">
					<%= image_tag('bnr-2.jpg',class:'second-slide')%>
        </div>
        <div class="item">
					<%= image_tag('bnr-3.jpg',class:'third-slide')%>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
      </a>
    </div>
		<!-- /.carousel -->
<!-- abt-2.jpg -->

	<div class="display3">
			<div class="col-md-4">
					<%= image_tag('abt-1.jpg',height:'200', width:'300')%>
			</div>
			<div class="col-md-4">
					<%= image_tag('abt-2.jpg',height:'200', width:'300')%>
			</div>
			<div class="col-md-4">
					<%= image_tag('abt-3.jpg',height:'200', width:'300')%>
			</div>

	</div>

	<!--product-starts-->
	<div class="product">
		<!-- <div class="container"> -->
			<div class="product-top">
				<div class="product-one">
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-1.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-2.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-3.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-4.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product-one">
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-5.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-6.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-7.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><%=image_tag("p-8.png",class:"img-responsive zoom-img")%></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">￥ 88888</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		<!-- </div> -->
	</div>
	<!--product-end-->

	<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
