<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Twatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-1.11.0.min'%>
    <%= javascript_include_tag 'simpleCart.min' %>
    <%= javascript_include_tag 'memenu'%>
    <%= javascript_include_tag 'jquery.easydropdown' %>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script>￥(document).ready(function(){$(".memenu").memenu();});</script>
  </head>
  <body>
        <div class="container-fluid">
          <div class="row">
            <%= render "common/navbar" %>

            <%= render "common/flashes" %>
            <%= yield %>
          </div>
        </div>
        <%= render "common/footer" %>
    </body>
</html>
